/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* Navbar */
.navbar {
  background-color: #1100FF; /* Azul */
}

.navbar .nav-link {
  color: #000000; /* Negro */
}

.navbar .nav-link:hover {
  color: #CCFF00; /* Amarillo */
}

.navbar-brand {
  color: #FFFFFF; /* Blanco */
  font-weight: 600; /* Semibolt */
}

.navbar-logo img {
  height: 60px; /* Ajusta el tamaño deseado */
  width: auto;
}

/* Secciones */
.welcome, .about-me, .services, .contact {
  padding: 2rem;
  text-align: center;
}

.welcome {
  background-color: #000000; /* Negro */
  color: #CCFF00; /* Amarillo */
}

.about-me {
  background-color: #1100FF !important; /* Azul */
  color: #FFFFFF; /* Blanco */
}

.services {
  background-color: #CCFF00 !important; /* Amarillo */
  color: #000000; /* Negro */
}

.contact {
  background-color: #1100FF !important; /* Azul */
  color: #000000; /* Negro */
}

/* Botones */
button {
  background-color: #000000; /* Negro */
  color: #FFFFFF; /* Blanco */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600; /* Semibolt */
}

button:hover {
  background-color: #CCFF00; /* Amarillo */
  color: #000000; /* Negro */
}